body {
  color: #737373;
}

header {
  padding: 20px 100px;
}


.header-top {
  display: flex;
  justify-content: space-between;
  border-bottom: medium solid #f8f8f8;
  padding: 10px;
}

.title-logo {
  width: 8%;
}


.header-bottom {
  display: flex;
  padding: 10px;
  font-size: 13px;
}

.header-bottom>p {
  position: relative;
  margin-right: 20px;
}

.header-bottom>p::after{
  margin-left: 20px;
  content:"";
  width:1px;
  height:12px;
  top: 3px;
  background-color:#737373;
  position:absolute;
}

.nav {
  display: flex;
}

.nav>li {
  margin-left: 20px;
}

.top-box {
  padding: 20px 100px;
}

.top-img {
  width: 95%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.infomation {
  height: 100px;
  width: 95%;
  margin: 20px auto;
  background-color: #f8f8f8;
}

.main-box {
  width: 95%;
  margin: 0 auto;
  padding: 20px 100px;
}

.main-box>h2 {
  font-weight: bold;
  margin: 30px 0;
}

.pickup {
  display: flex;
  justify-content: space-between;
}

.pickup>li {
  padding: 30px 0;
  border-bottom: medium solid #f8f8f8;
}

.pickup>li>a>p {
  padding: 10px;
  font-size: 14px;
}

.announce {
  display: flex;
  margin: 100px 0;
  padding: 20px 100px;
}

.announce-sns {
  width: 50%;
  margin-left: 30px;
  border: thin solid #d9d9d9;
  padding: 20px;
}

.announce-sns>h6 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

.announce-sns>p {
  font-size: 12px;
  margin-bottom: 20px;
}

footer {
  background-color: #f2f2f2;
  width: 100%;
}