.agreement-box {
  margin: 20px 0;
  height: 200px;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

.agreement {
  height: 160px;
  background-color: #f2f2f2;
  font-size: 12px;
  white-space: pre-line;
  overflow: scroll;
}

.agreement>em {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.registration>.submit {
  margin-left: auto;
}

#error_explanation {
  color: red;
  font-size: 12px;
}

#error_explanation>ul>li {
  margin-bottom: 5px;
}